/* Regis Campaign*/

#regis-campaign{ /*background*/
    background-image: url("../assets/images/home-join.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 46.625rem;
}

.backdrop {
    background-color: rgba(30, 30, 30, 0.77);
    width: 100%;
    min-height: 18.3125rem;
    height:auto;
    position: relative;
    top: 20.5rem;
    padding: 1.5625rem 0rem;
}

#campaign{
    position: relative;
    width: auto;
    padding: 0 0 .875rem;
    margin: 0.88rem 0 2.19rem;
}

#campaign:after{
    position: absolute;
    content: '';
    display: block;
    margin: auto;
    width: 50%;
    height: 1px;
    inset: 100% 0 auto;
    background-color: #FFF;
}

.backdrop a{ /*button-layout*/
    display: block;
    width: 15.375rem;
    padding: 0.5rem 1.625rem;
    border-radius: 2.5rem;
    background: var(--poke-red-300, #FF6767);
    margin: 0rem auto 1.8725rem;
    /* margin-bottom corresponds to figma
        4.31(button length to bottom of backdrop) - 0.875(bottom-padding)+1.5625(backdrop-padding)
    */
}

#campaign-button{ /*button-style*/
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

#campaign span {
    display: block;
    color: #FFF;
    text-align: center;
    font-family: 'Poppins';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 275;
    line-height: normal;
}

/*------------------------------Latest News------------------------------*/

#news {
    background: linear-gradient(102deg, #FFF 31.88%, #BCD7EB 73.94%);
    width: 100%;
    min-height: fit-content;
    overflow: hidden;
    padding: 2.12rem 0rem 2.75rem;
}

#news-heading { /*typography*/
    color: #000;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* Layout */
    margin: 0rem 0rem 2.13rem;
    padding-left: 5.19rem;
}

.news-container { /* 3 item container */
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    align-content: flex-start;
    padding: 0 5.19rem;
    gap: 2.4rem 5%;
    overflow: visible;
}

.news-items{ /*item containers, flex items */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1 1 19.8rem;
    height: 19.3rem;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    background: var(--poke-light-blue-700, #3F7EAD);
}

.news-items img { /*flex item image*/
    display: block;
    object-fit: cover;
    object-position: center;
    height: 13.6875rem;
    border-radius: 0.5rem 0.5rem 0 0;
}

.news-info{ /*flex container, flex item infos*/
    padding: 0rem 1.5rem;
    border-radius: 0 0 0.5rem 0.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.news-info *{
    padding: 0 0;
}

.news-info span{ /*flex item smol date*/
    display: block;
    color: #FFF;
    font-family: Montserrat;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.news-info h2{ /*flex item smol heading*/
    color: #FFF;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

a.more-button {
    /* Design */
    border-radius: 1.875rem;
    border: 1px solid #000;
    background: #FFF;
    /* Typography */
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* layout */
    display: inline-block;
    padding: 0.3125rem 0.75rem;
}

a.more-button:active{
    box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.more-news {
    display: block;
    text-align: center;
    margin-top: 2.81rem;
}

@media screen and (max-width:571px) {
    #news-heading {
        padding-left: 0;
        text-align: center;
    }
    .news-container {
        padding-left: 8%;
        padding-right: 8%;
    }
}

/*-------------------------Pro Circuit-------------------------*/

#pro-circuit{
    width: 100%;
    min-height: fit-content;
    min-height: 34.6875rem;
    background-image: url(../assets/images/home-tourney.jpg);
    background-repeat: no-repeat;
}

div.content-container{
    background: linear-gradient(288deg, #FBD743 53.65%, rgba(252, 229, 135, 0.87) 58.8%, rgba(255, 255, 255, 0.00) 63.62%);
    text-align: right;
    padding-right: 2.19rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

div.tourney-heading{
    color: #000;
    font-family: Montserrat;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 800;
    line-height: normal;
    padding-top: 3.69rem;
    padding-bottom: 0.75rem;
}

.tourney-heading p:nth-child(4){
    color: #000;
    font-family: Montserrat;
    font-size: 0.9375rem;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
}

.more-tourney {
    display: block;
}

.match {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    align-content: center;
    gap: 0rem 3.7rem;
}

#video{
    position: relative;
    margin: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video span{
    display: block;
    text-align: left;
    position: absolute;
    top: -1.875em;
    left:0;
    z-index: 1;

    color: #000;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#video video{
    width: 25rem;
    object-fit:fill;
    border-radius: 0.625rem;
    box-shadow: -10px -10px 4px 0px rgba(0, 0, 0, 0.25);
}

#names {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem 2.37rem 2rem 0rem;
    min-width: 16.0625rem;
    border-radius: 0.9375rem;
    border: 6px solid #000;
    background: #FFF;
    box-shadow: 3px 6px 4px 0px rgba(0, 0, 0, 0.25);
}

.player-name{
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1;
    padding: 0.625rem 1.625rem;
}

#names span{
    display: block;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 4rem;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1;
    padding: auto;
}

#names div:first-child{
    border-bottom: 3px dashed #000;
}

#names div:last-child{
    border-top: 3px dashed #000;
}

@media screen and (max-width: 895px){
    div.content-container{
        padding-right: 1rem;
    }

    div#names{
        margin-right: .625rem;
    }

    .match{
        gap: 0rem 0rem;
    }
}