#pokemon{
    min-height: 50rem;
}

/*--------------Search Bar--------------*/
.search-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-container h1{
    color: var(--poke-dark-blue-900, #13152E);
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 1.81rem;
    margin-top: 2.56rem;
}

.search-bar{
    width: 55.83%;
    height: 3.625rem;
    border-radius: 0.9375rem;
    border: 4px solid var(--poke-dark-blue-400, #565A95);
    display: flex;
    align-items: center;
}

.search-bar input{
    width: 90%;
    height: 1.6875rem;
    border: none;
    margin-left: 1.25rem;
    font-size: 1.375rem;
}

.search-bar input:focus{
    outline: none;
}

::placeholder{
    color: var(--Placeholder, rgba(70, 70, 70, 0.70));
}

.icon{
    border: none;
    width: 2.1875rem;
    height: 2.1875rem;
    margin-left: auto;
    margin-right: 1.25rem;
    padding: 0;
    background-color: transparent;
    fill: var(--poke-dark-blue-400, #565A95);
}

/*------------Pokemon List------------*/
.title{
    border-bottom: 1px solid var(--poke-dark-blue-900, #13152E);
    margin: 2.25rem 7.5rem;
}

.title h1{
    color: var(--poke-dark-blue-900, #13152E);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pokemon-container{
    padding: 0rem 7.5rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 2.25rem 3.125rem;
    margin-bottom: 4rem;
}

.pokemon-box{
    width: 12.5rem;
    height: fit-content;
    border-radius: 0.625rem;
}

.pokemon-info{
    text-align: center;
    margin-bottom: 0.94rem;
}

.pokemon-img{
    width: fit-content;
    height: fit-content;
    background: var(--poke-dark-blue-50, #C7C8DC);
    border-radius: 0.625rem;
    margin: 0.94rem ;
}

.pokemon-img img{
   width: 100%;
   height: 100%;
}

.pokemon-info p{
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

.pokemon-info p:first-child{
    font-family: Poppins;
}

.poke-red{
    border: 2px solid var(--poke-red-400, #FF4343);
}

.poke-orange{
    border: 2px solid var(--poke-red-200, #FF8B8B);
}

.poke-yellow{
    border: 2px solid var(--poke-yellow-600, #D3B538);
}

.poke-light-blue{
    border: 2px solid var(--poke-light-blue-600, #4E9BD6);
}

.poke-blue{
    border: 2px solid var(--poke-dark-blue-400, #565A95);
}

.pokedex-red{
    color: var(--poke-red-200, #FF8B8B);
}

.pokename-red{
    color: var(--poke-red-600, #D61A1A);
}

.pokedex-yellow{
    color: var(--poke-yellow-600, #D3B538);
}

.pokename-yellow{
    color: var(--poke-yellow-800, #837023);
}

.pokedex-light-blue{
    color: var(--poke-light-blue-400, #77C4FF);
}

.pokename-light-blue{
    color: var(--poke-light-blue-800, #306085);
}

.pokedex-blue{
    color: var(--poke-dark-blue-200, #9699BD);
}

.pokename-blue{
    color: var(--poke-dark-blue-700, #252858);
}

@media screen and (max-width:1120px) {
    .search-bar {
        height: calc(3*3.625rem/4);
    }

    .search-bar input {
        font-size: calc(3*1.375rem/4);
    }

    .search-bar button {
        width: calc(3*2.1875rem/4);
        height: calc(3*2.1875rem/4);
    }
}

@media screen and (max-width:800px) {
    .search-container h1 {
        font-size: calc(2.25rem/2);
        margin-bottom: calc(1.81rem/2);
        margin-top: calc(2.56rem/2);
    }

    .search-bar {
        height: calc(3.625rem/2);
    }

    .search-bar input {
        height: calc(1.6875rem/2);
        font-size: calc(1.375rem/2);
    }

    .search-bar button {
        width: calc(2.1875rem/2);
        height: calc(2.1875rem/2);
    }

    .title{
        margin: calc(2.25rem/2) calc(7.5rem/2);
    }

    .title h1{
        font-size: calc(1.5rem/2);
    }

    .pokemon-container{
        padding: 0rem calc(7.5rem/2);
    }
}